*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #272E2E;

    color:#E5E7E7;
}



h1{
    font-size: 24px;
}

#loader{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgb(105, 105, 105); */
    background-color: rgba(105, 105, 105, 0.7 );
}

.d-none{
    display: none;
}

nav{
    display: grid;
    grid: auto-flow / 0.5fr 1fr 0.5fr;
    position: sticky;
    top: 0;
    padding: 0.5em 2em;
    width: 100%;
    box-shadow: 0 0 4px #f7e222;
    background-color: #3D4849;
    align-items: center;
}

nav header{
    display: flex;
    /* vertical-align: middle; */

}

#header-btn-grp{
    display: flex;
    justify-content: center;
}


#header-btn-grp button{
    /* width: 50%; */
    margin: 0;
}

#header-btn-grp .btn{
    width: 50%;
    margin: 0 1em;
}

#instructions p{
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

section#main{
    padding: 2em 0;
    width: 100%;
    max-width: 1000px;

    display: flex;
    margin: auto;
}

section#main > *{
    width: 50%;
}

#allBlocks{
    margin: 0.25em 1em 0.5em 0 ;
}

.aBlock{
    position: relative;
    padding: 0 0 1em;
    display: flex;
    flex-direction: column;
}

.aBlock header{
    display: flex;
    justify-content: space-between;
}

p[data-block-target]{
    font-size: 12px;
    cursor: pointer;
}

label{
    font-weight: bold;
    font-size: 16px;
}

textarea{
    height: 15em;
    resize: none;
    padding: 1em;

    outline: #f7e222 auto 1px;
    background-color: #3D4849;
    color: #E5E7E7;
    font-size: 14px;
}


#content{
    margin: 1em;
    max-height: 200px;
    position: sticky;
    top: 10%;
}

#iterations{
    font-size: 20px;
}

#currentIterations{
    text-align: center;
    border-bottom: 1px solid #696969;
    margin-bottom: 0.5em;
}

.bold-big{
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
}

#iterationOptions{
    display: flex;
}

#iterationOptions span{
    margin: auto;
}

#iterationOptions span:hover{
    cursor: pointer;
}


#results{
    background-color: #3D4849;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
    min-height: 4em;
}



#timing{
    width: 100%;
}


#timing p{
    margin-top: 1em;
}

#buttonGroup{
    margin: 1em 0;
    /* display: flex; */
    /* justify-content: space-around; */
}

button{
    outline: none;
    border: none;
    width: 100%;
    padding: 0.5em;
    font-size: 16px;
    margin: 0.5em 0;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 0 0 5px #696969; */
    /* transition: box-shadow 0.3s; */

}

button:hover{
    /* box-shadow: 0 0 10px #696969; */
    /* transition: box-shadow 0.3s; */
}

.insert-block{
    color: #ffffff;
    background-color: #696969;
    /* font-size: 1em; */
}

#runTest1, #runTest2{
    background-color: #ffffff;
    color: #272E2E;
}

#runTest1{
    /* width: 5em; */
}


.off{ display: none;}
